*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{

    background-color: rgba(180, 175, 175, 0.504) !important;
}



.titulo{
    position: absolute;
    top: 5%;
    left: 40%;
    transform: translateY(-40%) translateX(-5%);
    font-size: 35px;
    color: #fff;
}
.titulo h1{
    text-align: center;
    font-family:  'Montserrat Alternates', sans-serif;
}
.container{
    position: relative;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    z-index: 1000;
}
.container .card{
    width: 270px;
    height: 450px;
    margin: 25px;
    text-align: center;
    background:#fff;
    border-radius: 5px 5px 5px 5px;
  
}
.container .card:hover{
    transform: scale(1.1);
    transition: 1s;
}
.container .card > img{
    width: 270px;
    height: 220px;
    border-radius: 5px 5px 5px 5px;
}
.container .card h2{
    font-size: 2em;
    top: 10px;
    color: #000;
    border-bottom: 1px solid #df0b0b;
    font-family:Arial, Helvetica, sans-serif;

}
.container .card p{
    font-family:Arial, Helvetica, sans-serif;
    padding: 2rem;
    font-size: 16px;
    text-align: justify-all;
}

@media screen and (max-width:820px){
    .row{
        display: flex;
        justify-content: center;

    }
}

@media screen and (max-width:1920px){
    .row{
        display: flex;
        justify-content: center;

    }
}

@media screen and (max-width:1400px){
    .row{
        display: flex;
        justify-content: center;

    }
}

@media screen and (max-width:991px){
    .row{
        display: flex;
        justify-content: center;

    }
}


/* letra y color de las nav*/

.fondoletrasmenu{
    color: #fff !important;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

/* texto de autos*/

.texto{

    color: rgb(186, 12, 12);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style:normal;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;

}

/* footer*/
.footer{
    position: absolute;
}
.pie-pagina{

    width: 100%;
    background-color: #212529;

    

}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;

}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #fff;
    margin-bottom: 10px;

}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #000;
    text-align: center;
    transition: all 300ms ease;

}

.pie-pagina .grupo-1 .red-social a:hover{
    color: rgb(32, 148, 148);
}

.pie-pagina .grupo-2{
    background-color: #1e2124;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.pie-pagina .grupo-2 small{
    font-size: 15px;

}
@media screen and (max-width:820px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
    
}