
/* NOSE PARA QUE ES */
.fondoletrasmenu{
    color: #fff !important;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.fondomenu{
    background-color: #000 !important;
}

/* CARROUSEL UTILIZADO EN LA PANTALLA DE INICIO*/

.carousel-item p{
    font-size: 4rem;
    color: rgba(255, 255, 255, 0.893);
    position: absolute;
    top: 10%;
    left:10%;
    display: flex;
    align-items: left;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style:normal;
    font-weight: 100;
}
.carousel-item h2{
    font-size: 2rem;
    color: rgba(255, 255, 255, 0.893);
    position: absolute;
    top: 25%;
    left: 10%;
    display: flex;
    align-items: left;
    font-family: Arial, Helvetica, sans-serif;
    font-style:normal;
}

/* SIMPLES AJUSTES EN BODY*/

body{

    background-color: rgba(180, 175, 175, 0.504) !important;
    min-height: 100vh;
}
.container{
    font-family: Arial, Helvetica, sans-serif;
    font-size:larger;
    
}

.cajabtn{

    width: auto;
    height: auto;
    float: left;
    margin-left: 10px;
    margin-top: -10px;
}

/*-- cartas usadas para mostrar autos  --*/

/* VER PORQUE EL FLOAT:CENTER TIRABA ERROR ------CARTA 1 --------CARTA 2 (SIN USO)*/

.carta1 {

    border: #000 solid;
    background-color: #000;
    color: #fff;
    margin-left:60px;
    margin-top: 70px;
    margin-bottom: 70px;

}

.carta2{

    background-color: #000;
    color: #fff;
    float:center;
    margin-left: auto;
    margin-top: 100px;

}

/*-- hover que al pasar el raton se agranda la img --*/

.col-xl-3 img:hover{
    transform:  scale(1.15);

}

.col-md-4 img:hover{
    transform:  scale(1.15);

}

.col-sm-6 img:hover{
    transform:  scale(1.15);
 
}

/*-- arreglar tamaño de imgs  sin fondo de autos --*/

.cimg{
    height: 109px;
    width: 100%;

}


/* FOOTER UTILIZADO PARA LA PAG */

.pie-pagina{

    width: 100%;
    background-color: #212529;

    

}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;

}
.pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}
.pie-pagina .grupo-1 .box p{
    color: #fff;
    margin-bottom: 10px;

}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #000;
    text-align: center;
    transition: all 300ms ease;

}

.pie-pagina .grupo-1 .red-social a:hover{
    color: rgb(32, 148, 148);
}

.pie-pagina .grupo-2{
    background-color: #1e2124;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.pie-pagina .grupo-2 small{
    font-size: 15px;

}
@media screen and (max-width:800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
    
}



#galeria .col-lg-4{
    padding: 15px;
    margin: 0 !important;
}
#galeria img{
    width: 100%;
}

#galeria img:hover{
    border: 5px solid #fff;
}



/* CARTAS UTILIZADAS PARA SECCIONES DE CADA MARCA */

.body{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    margin-left: 50px;


}

.container1{
    width:100%;
    display: flex;
    max-width: 1100px;
    flex-wrap: wrap;


}
.card{
    width:100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition: all 400ms ease;


}
.card:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}

.card img{
    width: 70%;

}

.card .contenido{
    padding: 15px;
    text-align: center;
}

.card .contenido p{
    line-height: 1.5;
    color: #0b2369;
}

.card .contenido h3{
    font-weight: 400;
    margin-bottom: 15px;

}

.card .contenido a{
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: #2fb4cc;
    border: 1px solid #2fb4cc;
    border-radius: 4px;
    transition: all 400ms ease;
}

.card .contenido a:hover{
    background: #2fb4cc;
    color: #fff;
}

/* PROBANDO QUE EL FOOTER SE MATENGA SIEMPRE ABAJO*/

footer{
    position: absolute;


}

/*-- texto responsivo --*/


.texto{

    color: rgb(186, 12, 12);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style:normal;
    margin-top: 10px;

}

/*-- imgs logos marcas responsivas --*/

.img-res{

}

.img-fluid{
    max-width: 100%;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}