
.fondoletrasmenu{
    color: #fff !important;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.fondomenu{
    background-color: #000 !important;
}

.carousel-item p{
    font-size: 4rem;
    color: #fff;
    position: absolute;
    top: 10%;
    left:10%;
    display: flex;
    align-items: left;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style:normal;
    font-weight: 100;
}
.carousel-item h2{
    font-size: 2rem;
    color: #fff;
    position: absolute;
    top: 25%;
    left: 10%;
    display: flex;
    align-items: left;
    font-family: Arial, Helvetica, sans-serif;
    font-style:normal;
}

body{

    background-color: rgba(180, 175, 175, 0.504) !important;
}
.container{
    font-family: Arial, Helvetica, sans-serif;
    font-size:larger;
    
}
